/* TAMBAHAN DARI BOOTSTRAP */
.list_carousel {
background-color: #ccc;
margin: 0 0 30px 60px;
width: 360px;
}
.list_carousel ul {
margin: 0;
padding: 0;
list-style: none;
display: block;
}
.list_carousel li {
font-size: 40px;
color: #999;
text-align: center;
background-color: #eee;
border: 5px solid #999;
width: 50px;
height: 50px;
padding: 0;
margin: 6px;
display: block;
float: left;
}
.list_carousel.responsive {
width: auto;
margin-left: 0;
}
.clearfix {
float: none;
clear: both;
}
.prev {
float: left;
margin-left: 10px;
}
.next {
float: right;
margin-right: 10px;
}
.pager {
float: left;
width: 300px;
text-align: center;
}
.pager a {
margin: 0 5px;
text-decoration: none;
}
.pager a.selected {
text-decoration: underline;
}
.timer {
background-color: #999;
height: 6px;
width: 0px;
}

footer a{text-decoration:none;color:white;}
footer a:hover, footer a:focus{text-shadow:0 1px 2px black;color:#ff3;}
.modal-backdrop.fade.in:nth-child(2){z-index: 1060 !important;}
.navbar-nav input{margin-top:3%;width:300px;}
.navbar-nav select{margin-top:8%;}
#cart{text-align:center;width:90%;margin:auto;}
#cart th{background:#dff0d8;text-align:center;}
#signin-signup{text-align:right;color:white;}
#signin-signup button:focus{outline:none;}
#form-signin table{margin:25px auto;text-align:right;border:none;}
#form-signin, #form-option{display:none;margin:auto auto auto -385px;background: #25b8e1; /* Old browsers */
background: -moz-linear-gradient(top,  #25b8e1 0%, #2989d8 51%, #25b8e1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25b8e1), color-stop(51%,#2989d8), color-stop(100%,#25b8e1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #25b8e1 0%,#2989d8 51%,#25b8e1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #25b8e1 0%,#2989d8 51%,#25b8e1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #25b8e1 0%,#2989d8 51%,#25b8e1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #25b8e1 0%,#2989d8 51%,#25b8e1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25b8e1', endColorstr='#25b8e1',GradientType=0 ); /* IE6-9 */
height:200px;width:300px;position:absolute;z-index:10000;border-radius:4px;moz-border-radius:4px;webkit-border-radius:4px;box-shadow:0 1px 10px black;}
#form-signup{display:none;position:fixed;margin:0 20%;height:100%;width:50%;z-index:9999;border-radius:4px;moz-border-radius:4px;webkit-border-radius:4px;}
#form-signup td{width:50%;}
#form-option{margin:auto auto auto -150px;height:70px;width:150px;border-radius:none !important;}
#form-option ul{list-style:none;}#form-option li{margin-left:-30px;}
